body, header {
    /*background: radial-gradient(circle at 100%, #e664, #FFFFF0);*/
    background-image: radial-gradient(farthest-corner at 175% 5%,
    #4059AD 0%, #FFFFF0 65%); 
    height:100%;
    background-repeat: no-repeat;

}


.title-pics-f img {
    position:fixed;
    margin-top: -37px;
    margin-left: 20px;
    width: 4%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#title-f {
    font-size: 500%;
    line-height: .001;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 10%;
    font-family: perpetua;
    padding-bottom: 25%;
    
}